.git
.gitignore
.github
.env
.env.*
!.env.example
.venv
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
coverage.xml
htmlcov
**/__pycache__
**/*.py[cod]
**/*.so
**/.DS_Store
build
dist
*.egg-info
secrets
tests
docs
*.log
